<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Smart Book Assistant</title>

</head>
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh; width: 100vw;">
        <div class="d-flex justify-content-start" style="width: 100%;">
            <a class="m-1 btn btn-warning" href="/">Home</a>
            <a class="m-1 btn btn-success" href="/logout">Logout</a>
            <a class="m-1 btn btn-primary" href="/book/list/add">Add Book</a>
        </div>

        <% if (notif) { %>
            <div class="alert alert-success" role="alert"><%= notif %></div>
            <% } %>
        <table class="table table-striped">
            <tr>
            <th scope="col">Book Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Category</th>
            <th scope="col">Rack Code</th>
            <th scope="col">Action</th>
            </tr>
            <% books.forEach((book) => { %>
            <tr>
            <td><%=book.name%></td>
            <td><%=book.price%></td>
            <td><%=book.stock%></td>
            <td><%=book.category%></td>
            <td><%=book.rack_id%></td>
            <td class="d-flex align-items-center justify-content-start">
                <a class="m-1 btn btn-warning" href="/book/list/edit/<%=book.id%>">Edit</a>
                <a class="m-1 btn btn-danger" href="/book/list/delete/<%=book.id%>" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            </td>
            </tr>
            <% }) %>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>
</html>