<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Book Assistant</title>
  </head>
  <body>
    <form action="/book/list/edit/<%=book.id%>" method="POST">
      <label for="name">Name</label><br />
      <input type="text" id="name" name="name" value="<%=book.name%>" /><br />
      <label for="price">Price</label><br />
      <input
        type="text"
        id="price"
        name="price"
        value="<%=book.price%>"
      /><br />
      <label for="stock">Stock</label><br />
      <input type="text" id="stock" name="stock" value="<%=book.stock%>" /><br />
      <label for="category">Category</label><br />
      <select id="category" name="category">

        <%
        var options = [ "fiction", "self-improvement", "drama", "religius" ];
        for ( var i = 0; i < options.length; i++ )
        {
            var selected = ( book.genre == options[i] ) ? "selected" : "";
            %><option value="<%=options[ i ] %>" <%=selected %>><%=options[i] %></option><%
        }
        %>
      </select><br>
      <label for="rack_id">Rack Code</label><br />
      <select id="rack_id" name="rack_id">

        <%
        for ( var i = 0; i < rackOptions.length; i++ )
        {
            var selected = ( book.dataValues.rack_id == +rackOptions[i] ) ? "selected" : "";
            var idSelected = rackOptions[i]
            %><option value="<%=idSelected %>" <%=selected %>><%=rackOptions[i] %></option><%
        }
        %>
      </select><br>
      <input type="submit" value="Update" />
      <a href="/book/list">Cancel</a>
    </form>
  </body>
</html>
